---
const { image1, image2, image3, image4 } = Astro.props;
import { ImageZoom } from "../components/js/ImageZoom.jsx";
---

<div class="image-header" id="project-thumbnails">
  <div class="project-image">
    <ImageZoom
      options={{ background: "#111111" }}
      client:only="react"
      class="project-image"
      src={image1.src}
      alt={image1.alt}
      draggable="false"
      width="100%"
      height="100%"
    />
    <p class="text-description">{image1.description}</p>
  </div>
  <div class="project-image">
    <ImageZoom
      options={{ background: "#111111" }}
      client:only="react"
      class="project-image"
      src={image2.src}
      alt={image2.alt}
      draggable="false"
      width="100%"
      height="100%"
    />
    <p class="text-description">{image2.description}</p>
  </div>
  <div class="project-image">
    <ImageZoom
      options={{ background: "#111111" }}
      client:only="react"
      class="project-image"
      src={image3.src}
      alt={image3.alt}
      draggable="false"
      width="100%"
      height="100%"
    />
    <p class="text-description">{image3.description}</p>
  </div>
  <div class="project-image">
    <ImageZoom
      options={{ background: "#111111" }}
      client:only="react"
      class="project-image"
      src={image4.src}
      alt={image4.alt}
      draggable="false"
      width="100%"
      height="100%"
    />
    <p class="text-description">{image4.description}</p>
  </div>
</div>

<style>
  .image-header {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 0 auto;
    width: 100%;
  }

  .project-image {
    max-width: 100%;
    object-fit: cover;
    user-select: none;
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }

  .text-description {
    color: #e3e3e8;
    user-select: none;
    line-height: 1.6;
    font-weight: 450;
    font-size: 1.125em;
    flex: 1;
  }

  .medium-zoom-image {
    border-radius: 1rem;
    max-width: 100%;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
  }

  /* media queries */
  @media (max-width: 768px) {
    /* Project Wrapper */
    .image-header {
      gap: 3rem;
    }

    .text-description {
      font-size: 1rem;
    }
  }
</style>
