---
const {
  tag,
  title,
  description1,
  description2,
  role,
  tools,
  timeline,
  prototypeLink,
} = Astro.props;

import { SplitWordHeader } from "./js/Animations.jsx";
---

<SplitWordHeader client:only="react" />
<div class="project-header">
  <div class="project-header-wrapper">
    <div class="project-header-container">
      <div class="home-project-title">
        <div class="tag splitletter">{tag}</div>
        <h1 class="splitletter">{title}</h1>
      </div>
      <div class="project-header-details">
        <ul class="list-container">
          <p class="project-details">
            <span class="description">Role</span><br />{role}
          </p>
          <p class="project-details">
            <span class="description">Tools</span><br />{tools}
          </p>
          <p class="project-details">
            <span class="description">Timeline</span><br />{timeline}
          </p>
        </ul>
        <div class="description-wrapper splitwordheader">
          <p class="project-description">
            {description1}
          </p>
          <p class="project-description">
            {description2}
          </p>
        </div>
      </div>
      <div class="project-buttons slideup">
        <button class="project-button">
          <a href={prototypeLink} target="_blank" rel="noopener noreferrer">
            View Prototype ↗
          </a>
        </button>
      </div>
    </div>
  </div>
</div>

<style>
  .splitwordheader,
  .splitletter,
  .project-details,
  .slideup {
    opacity: 0;
    visibility: hidden;
  }

  .project-header-container {
    gap: 3rem;
    display: flex;
    flex-direction: column;
    user-select: none;
    width: auto;
  }

  .project-header-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 78.75rem;
    margin: 0 auto;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 500;
    text-decoration: none;
    user-select: none;
  }

  .project-thumbnail {
    max-width: 100px;
    max-height: 100px;
  }

  .tag {
    font-size: 0.875rem;
    letter-spacing: 3px;
    color: #86868b;
    font-weight: 400;
  }

  .project-header-container {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    user-select: none;
    width: auto;
  }

  .home-project-title {
    font-size: 2rem;
    color: #f5f5f7;
    text-decoration: none;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .project-header-details {
    display: flex;
    justify-content: space-between;
  }

  .project-description,
  .project-details {
    font-size: 1.125rem;
    color: #f5f5f7;
    line-height: 1.6;
    font-weight: 400;
  }

  .description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
  }

  ul {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: #ddddde;
    text-decoration: none;
    gap: 1rem;
    font-weight: 400;
  }

  .list-container {
  }

  .description {
    font-weight: 500;
    line-height: 1.6;
    color: #f5f5f7;
    font-size: 1.125rem;
  }

  .project-button {
    background-color: #ffffff15;
    border: none;
    color: #f5f5f7;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1rem);
    border-radius: 1.5rem;

    background-color: #86868b10;
    transition: background-color 0.3s ease;

    border: 1px solid #f5f5f715;
    transition: border-color 0.3s ease;
  }

  .project-buttons {
    display: flex;
    gap: 1rem;
  }

  .project-button a {
    color: inherit;
    text-decoration: none;
  }

  /* animations */
  .project-button:hover {
    border: 1px solid #f5f5f735;
    background-color: #86868b25;
  }

  /* media queries */
  @media (max-width: 1500px) {
    /* Project Wrapper */
    .project-header-container {
      padding: 10rem calc(2rem + 5%);
    }
  }

  @media (max-width: 1200px) {
    /* Project Wrapper */
    .project-header-details {
      gap: 5rem;
    }

    .description-wrapper {
      width: auto;
      flex: 1;
    }

    .project-header-container {
      padding: calc(2rem + 5%);
    }

    .list-container {
      width: 25%;
    }
  }

  @media (max-width: 768px) {
    /* Project Wrapper */
    .project-header-details {
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2rem;
    }

    .description-wrapper {
      width: auto;
    }

    .project-header-container {
      padding: 0 1rem;
    }

    .list-container {
      width: auto;
    }

    .project-description,
    .description {
      font-size: 1rem;
    }

    .project-header-wrapper {
      height: auto;
      min-height: 100dvh;
      padding: 6rem 0;
      position: relative;
    }

    .fsg-bg {
      min-height: 100dvh;
      height: 100%;
    }
  }
</style>
